.home {
  padding-top: 61px;
  padding-bottom: 144px;
  @media (max-width: $breakpoint992){
    padding-top: 45px;
    padding-bottom: 75px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
    @media (max-width: $breakpoint1450){
      gap: 25px;
    }
    @media (max-width: $breakpoint992){
      gap: 10px;
    }
    @media (max-width: $breakpoint768){
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  &__item {
    
    &.left-item {
      flex: 0 0 412px;
      @media (max-width: $breakpoint992){
        flex: 0 0 360px;
      }
      @media (max-width: $breakpoint768){
        flex: 0 0 100%;
        text-align: center;
        // margin: 0 auto;
      }
      // flex: 0 1 48%;
    }
    
    &.right-item {
      // flex: 0 1 48%;
      @media (max-width: $breakpoint1200){
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
      @media (max-width: $breakpoint768) {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
      }      
      // @media (max-width: $breakpoint992){
      //   img {
      //     max-width: 400px;
      //   }
      // }
      @media (max-width: $breakpoint768){
        img {
          max-width: 500px
        }       
      }
      // @media (max-width: $breakpoint480){
      //   max-width: none;
      // }
    }    
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: $blackColor;
    margin-bottom: 16px;
    @media (max-width: $breakpoint1200){
      font-size: 52px;
    }
    @media (max-width: $breakpoint992){
      font-size: 46px;
      margin-bottom: 10px;
    }
    @media (max-width: $breakpoint480){
      font-size: 38px;
    }
    span {
      color: $pinkColor;
      display: block;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $greyColor;
    margin-bottom: 32px;
    @media (max-width: $breakpoint992){
      margin-bottom: 16px;
    }
    @media (max-width: $breakpoint480){
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  &__form {
    width: 100%;
  }

  &__input {
    display: flex;
    align-items: center;
    // max-width: 412px;
    width: 100%;
    padding: 14px 22px;
    background: #FFFFFF;
    border: 1px solid #DFE8FA;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $pinkColor;
    outline: none;
    &::placeholder {
      color: $greyColor;
    }
    &:focus {
      border: 1px solid $pinkColor;
    }
  }

  &__info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: $breakpoint992){
      margin-top: 10px;
    }
    @media (max-width: $breakpoint768){
      justify-content: center;
    }
  }

  &__btn {
    flex-shrink: 0;
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 146%;
    color: #BBC0C7;
    max-width: 140px;
    @media (max-width: $breakpoint480){
      font-size: 14px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 32px;
    @media (max-width: $breakpoint992){
      margin-top: 16px;
    }
    @media (max-width: $breakpoint768){
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__stars-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    color: $greyColor;
    @media (max-width: $breakpoint480){
      font-size: 13px;
    }
  }

  &__companys {
    margin-top: 16px;
    display: flex;
    gap: 38px;
    @media (max-width: $breakpoint992){
      margin-top: 10px;
    }
    @media (max-width: $breakpoint768){
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (max-width: $breakpoint480){
      gap: 15px;
    }
  }

  &__img {}
}
