.price {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 89px;
    @media (max-width: $breakpoint1450){
      gap: 20px;
    }
    @media (max-width: $breakpoint768){
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    flex: 0 1 100%;
    &.item-left {
      flex: 0 0 480px;
      @media (max-width: $breakpoint992){
        flex: 0 0 420px;
      }
      @media (max-width: $breakpoint768){
        flex: 0 0 100%;
      }
    }
    &.item-right {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFBFA;
      @media (max-width: $breakpoint768){
        flex: 0 1 400px;

      }
    }
  }

  &__title {
    margin-bottom: 40px;
    @media (max-width: $breakpoint768){
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media (max-width: $breakpoint768){
      gap: 10px;
    }
  }

  &__list-item {
    padding: 8px 20px;
    border-radius: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    @media (max-width: $breakpoint768){
      font-size: 16px;
      line-height: 160%;
      padding: 6px 16px;
    }
  }

  &__btn {
    margin-top: 40px;
    @media (max-width: $breakpoint768){
      margin-top: 20px;
    }
  }

  &__item-inner {
    padding: 350px 150px;
    background-image: url(../img/price-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    @media (max-width: $breakpoint1200){
     padding: 200px 100px; 
    }
    @media (max-width: $breakpoint992){
      padding: 150px 60px;
    }
    @media (max-width: $breakpoint480){
      padding: 100px 40px;
    }
  } 

  &__cost {
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 80%;
    letter-spacing: -0.03em;
    color: $blackColor;
    margin-bottom: 16px;
    @media (max-width: $breakpoint1200){
      font-size: 100px;
    }
    @media (max-width: $breakpoint992){
      font-size: 70px;
    }
    @media (max-width: $breakpoint480){
      font-size: 50px;
    }
  }

  &__period {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: $blackColor;
    @media (max-width: $breakpoint992){
      font-size: 16px;
    }
    @media (max-width: $breakpoint480){
      font-size: 14px;
    }
  }
}

.item-1 {
  background: #FFF1EF;
  border: 1px solid #FFD1CA;
  color: #FF8B7A;
}

.item-2 {
  color: #FFAC2F;
  background: #FFF8EE;
  border: 1px solid #FFCA7A;
}

.item-3 {
  color: #3ACD77;
  background: #ECFFF4;
  border: 1px solid #98FAC0;
}

.item-4 {
  color: #2BC0CA;
  background: #F1FEFF;
  border: 1px solid #6EE1E9;
}

.item-5 {
  color: #C140FD;
  background: #FCF5FF;
  border: 1px solid #EBBDFF;
}