.section__tabs {
  padding-top: 100px;
  padding-bottom: 140px;
  background: #FDF9F8;
  @media (max-width: $breakpoint768){
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.tabs {
      width: 100%;
      &__header {
        display: flex;
        gap: 48px;
        margin-bottom: 64px;
        @media (max-width: $breakpoint768){
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 25px;
          margin-bottom: 35px;
        }
  
        &-item {
          cursor: pointer;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 180%;
          color: $blackColor;
          @media (max-width: $breakpoint768){
            font-size: 20px;
          }
          
          &.active {
            position: relative;
            &:after {
              position: absolute;
              content: "";
              bottom: -7px;
              left: 0px;
              height: 3px;
              width: 100%;
              background-color: rgb(240, 153, 141);
            }           
          }
        }
      }
  
      &__content {
        &-item {
          animation: fade .5s linear;
        }
        
      }
    }

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpoint768){
    flex-wrap: wrap;
  }
  // gap: 124px;
  &__item {
    &.item-left {
      flex: 0 0 370px;
      @media (max-width: $breakpoint768){
        flex: 0 0 100%;
      }
    }

    &.item-right {
      // flex: 0 1 48%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: $blackColor;
    margin-bottom: 24px;
    @media (max-width: $breakpoint992){
      font-size: 40px;
      margin-bottom: 12px;
    }
    @media (max-width: $breakpoint480){
      font-size: 36px;
    }
    span {
      color: $pinkColor;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $greyColor;
    margin-bottom: 32px;
    @media (max-width: $breakpoint992){
      margin-bottom: 16px;
      font-size: 16px;
    }
  }

  &__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.2em;
    color: $greyColor;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    @media (max-width: $breakpoint992){
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint768){
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: $greyColor;
    @media (max-width: $breakpoint768){
      font-size: 16px;
    }
    &:not(:last-child) {
      border-right: 2px solid rgba(251, 247, 246, 1);
      padding-right: 16px;
      @media (max-width: $breakpoint768){
        padding-right: 10px;
      }
    }
    
  }

  &__btn {}

  &__img {
    img {
      @media (max-width: $breakpoint1200){
        max-width: 550px;
      }
      @media (max-width: $breakpoint992){
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}
