// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1160;
$containerPadding: 80;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$greyColor: #677487;
$lightGrey: #717A90;
$pinkColor: #F0998D;
$darkPink: #FD7461;
$lightPink: #FFF0EC;
$blackColor: #1D2736;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $pinkColor;
$burgerActiveColor: #fefefe;

